body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP1tUD1XZ-KkJZj_oPo2Q22btIAe2YmAslNCs1YgDLi1AckeDPUUpQRgNEqltujusUI1s&usqp=CAU);
        display: flex;
        justify-content: center;
        align-items: center ;
        align-self: center;
        font-family: Arial, Helvetica, sans-serif;

}
form{
    margin-top: 130px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.login{
    display: block;
    margin-bottom: 25px;
}

.login input{
    display: block;
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 0 15px;
}
.login-button{
    width: 300px;
    height: 35px;
    background-color: rgb(224, 224, 229);
    color: rgb(204, 102, 102);
    border: none;
    font-size: 22px;
    text-decoration: none;
}
